* {
    padding: 0;
    margin: 0;
}

body {
    background-color: black;
    font-family: sans-serif;
}

.main {
    background-image: url(https://assets.nflxext.com/ffe/siteui/vlv3/ff5587c5-1052-47cf-974b-a97e3b4f0656/065df910-dec3-46ae-afa8-7ad2b52dce40/IN-en-20240506-popsignuptwoweeks-perspective_alpha_website_large.jpg);
    height: 90vh;
    position: relative;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: max(1700px, 100vw);


}

.main .box {
    height: 90vh;
    width: 100%;
    opacity: 0.69;
    background-color: black;

    position: absolute;
    top: 0;

}

nav {
    height: 70px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 70vw;
    margin: auto;
}

nav img {
    color: rgb(156, 24, 24);
    width: 130px;
    position: relative;
    z-index: 10;
}

nav select {
    position: relative;
    z-index: 10;
    color: white;
    background-color: rgba(23, 23, 23, 0.2);
    padding: 5px;
    margin-right: 16px;
    padding-left: 20px;
    border-radius: 4px;

}

nav button {
    position: relative;
    z-index: 10;
    padding: 5px 8px;
    font-weight: bold;
    color: white;
    background-color: red;
    border-radius: 4px;

}

.fs {
    font-family: sans-serif;

    display: flex;
    color: white;
    height: calc(100% - 100px);
    justify-content: center;
    flex-direction: column;
    align-items: center;
    z-index: 10;
    position: relative;
    gap: 20px;
    padding: 30px;
    text-align: center;

}

.fs>:nth-child(1) {
    font-size: 48px;
    font-weight: 900;
}

.fs>:nth-child(2) {
    font-size: 24px;
    font-weight: 400;
}

.fs>:nth-child(3) {
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
}

.line {
    height: 10px;
    background-color: #232323;
    position: relative;
    z-index: 20;
}

.s2 button {

    color: white;
    background-color: red;
    padding: 7px 20px;
    margin-top: 10px;
    font-size: 25px;
    border-radius: 4px;
    gap: 16px;
}


.main input {
    padding: 7px 101px 8px 14px;
    font-size: 12px;
    border-radius: 4px;

    font-size: 20px;
    border-radius: 4px;
    background-color: rgba(23, 23, 23, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.5);
    color: white;
    background: transparent;

}

.main ::placeholder {
    font-size: medium;
}

.first {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 70vw;
    margin: auto;
    color: white;
}



section.first>div :nth-child(1) {
    font-size: 48px;
    font-weight: bolder;
}

section.first>div {
    display: flex;
    flex-direction: column;
    padding: 34px 0;
}

section.first>div :nth-child(2) {
    font-size: 24px;
    line-height: 25px;

}


.fimg {
    position: relative;
}

.fimg img {
    width: 555px;
    position: relative;
    z-index: 10;
}

.fimg video {

    width: 478px;
    position: absolute;
    top: 123px;
    right: 0px;
}

.tri img {
    width: 555px;
}

.tri video {
    width: 300px;
    top: 71px;
    right: 130px;
}



.qda h2 {
    text-align: center;
    font-size: 48px;
    font-weight: 900;

}

.qda {
    background-color: black;
    color: white;
    padding: 34px;
}

.bb:hover {
    background-color: rgba(140, 137, 137, 0.486);
}

.bb {
    transition: all 1s ease-out;
    display: flex;
    justify-content: space-between;
    background-color: gray;
    padding: 24px;
    max-width: 91vw;
    margin: 34px auto;
    cursor: pointer;
    font-size: 24px;
    font-weight: 400;
    background-color: #2d2d2d;

}

.bb svg {
    filter: invert(100);
}

.last {
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
}

.s1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.s1 button {
    color: white;
    background-color: rgb(250, 14, 14);
    padding: 0px 2px;
    margin-top: 10px;
    font-size: 33px;
    border-radius: 4px;
    
}

.s1 ::placeholder {
    font-size: medium;
}

.s1 input {
    padding: 7px 101px 8px 14px;
    font-size: 12px;
    border-radius: 4px;
    margin-right: 10px;

    font-size: 20px;
    border-radius: 4px;
    background-color: rgba(23, 23, 23, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.5);
    color: white;
}

footer {
    color: white;
    max-width: 60vw;
    margin: auto;
    padding: 14px;

}

footer .que {
    padding: 34px 0;
}

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color: white;
    max-width: 60vw;
    margin: auto;
}



.fo {
    display: flex;
    flex-direction: column;
    gap: 23px;
}

.fo a {
    font-size: 14px;
    color: white;
}
@media screen and (max-width:1300px) {

    .first {
        flex-wrap: wrap;
        padding-top: 22px;
    
    }

}

@media screen and (max-width:1300px) {

    .fimg img {
        width: 305px;

    }

    .fimg video {
        width: 259px;
        top: 83px;
    }
}

@media screen and (max-width:1300px) {
    .footer {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 55px;
    }
    .s1 button {
        display: flex;
        flex-direction: column;
    
    }

}

@media screen and (max-width:1300px) {

    .tri img {
        width: 333px;
    }

    .tri video {

        width: 200px;
        top: 54px;
        right: 64px;
    

    }
    section.first>div :nth-child(1) {
        font-size:32px;
    
    }
    section.first>div :nth-child(2) {
        font-size:18px;
    }
    section.first>div :nth-child(3) {
        font-size:18px;
    
    }
    nav{
        max-width: 800vw;
    }
    .main input{
        padding: 7px 42px 8px;
    }
   .s1 input{
    padding: 7px 42px 8px;
    
}
.qda h2{
text-align: center;
font-size: 32px;


}
footer{
    max-width: 90vw;
}
.fo{
    align-items: center;
}
.bb{
    font-size: 18px;
}
.fs>:nth-child(1) {
    font-size: 32px;
    font-weight: 900;
}

.fs>:nth-child(2) {
    font-size: 18px;
    font-weight: 400;
}

.fs>:nth-child(3) {
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;

}

a{
    font-size: 10px;
    
}


}
